Brad Gilbert <bgills@cpan.org> <b2gills@gmail.com>
Christian Hansen <chansen@cpan.org>
Lukas Eklund <leklund@gmail.com>
Mike Doherty <doherty@cpan.org> <doherty@cs.dal.ca>
Mike Doherty <doherty@cpan.org> <doherty@pythian.com>
